*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffe70e;
    font-family: roboto, sans-serif;
}

.card{
    width: 300px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(img/img1.jpg);
    background-size: cover;
    border-radius: 10px;
    pointer-events: none;
    transition: .5s left, 1s opacity;
    transition-delay: 1s;
}

.card:nth-child(2) .img{
    background-image: url(img/img2.jpg);
}

.card:nth-child(3) .img{
    background-image: url(img/img3.jpg);
}

.card .img:nth-child(1){
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    z-index: 2;
}

.card .img:nth-child(2){
    left: -0.75px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.content{
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 0%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #fff;
    transition: 1s;
    overflow: hidden;
}

.heading{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
}

.para{
    margin: 30px 0;
}

.btn{
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    color: #000;
    text-transform: capitalize;
    background: none;
    outline: none;
    transition: 1s;
    cursor: pointer;
    display: block;
    margin: auto;
}

.btn:hover{
    background: #000;
    color: #fff;
}

.card:hover .content{
    bottom: 5%;
    height: 90%;
    padding: 20px 40px;
}

.card:hover .img:nth-child(1){
    left: -5%;
    opacity: 0;
}

.card:hover .img:nth-child(2){
    left: 5%;
    opacity: 0;
}